.button {
  border: 5px solid white !important;
  border-radius: 10px !important;
  background-color: #c15c17 !important;
  padding: 10px 25px !important;
  color: white !important;
}

.button--disable {
  border: 5px solid #616161 !important;
  background-color: transparent !important;
  color: #616161 !important;
}
