.care-page {
  padding-top: 80px;
}

.care-title {
  font-family: "Londrina Shadow", cursive;
  color: #ffffff;
  font-size: 73px;
  margin: 20px 0;
}

.card {
  background-color: #f39f56;
  border: 0.25rem solid #f9fad2;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  width: 80%;
}

.card__bg {
  border-radius: 10px;
  padding: 20px;
  background-color: #fdc16a;
}

.card__button {
  justify-content: space-evenly;
  display: flex;
}

.card__bars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__bar {
}

.button--round {
  /* position: absolute; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ac4d9f;
  z-index: 1;
}

.button--round img {
  max-width: 100%;
  text-align: center;
}

.bar {
  background-color: brown;
  border: 0.25rem solid #f9fad2;
  padding: 5px 40px;
  border-radius: 10px;
  color: white;
  text-align: right;
}
