.care-page {
  padding-top: 80px;
}

.card {
  background-color: #f47625 !important;
  border: 10px solid #f9fad2 !important;
  border-radius: 10% !important;
}

.card__button {
  justify-content: space-evenly;
  display: flex;
}
