.creators {
  width: 100%;
  padding-top: 80px;
}

.creators-title {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 73px;
  margin: 20px 0;
}

.creators-card {
  background-color: #f39f56;
  border: 0.25rem solid #f9fad2;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  margin: 1.5rem auto;
  width: 80%;
}

.creators-card-bg {
  border-radius: 10px;
  background-color: #fdc16a;
  padding: 5px 0;
  display: flex;
}

.creators-card > p {
  padding-top: 10px;
}

.creator-info {
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.creator-photo {
  width: 80%;
  margin: auto;
  border-radius: 25px;
}

.social-icons {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

.social-icons > a {
  display: block;
}

.social-icons img {
  height: 75%;
  padding: 5px;
}

@media only screen and (max-width: 414px) {
  .questions {
    padding: 0 10px;
  }

  .creators-title {
    font-size: 40px;
  }

  .creators-card-bg {
    flex-direction: column;
  }
}
