.pickpet-menu {
  width: 100%;
  padding-top: 80px;
}

.pickpet-title {
  font-family: "Londrina Shadow", cursive;
  color: #ac4d9f;
  font-size: 73px;
  margin: 20px 0;
}

.pickpet-description {
  text-shadow: 3px 2px 4px rgba(43, 43, 43, 0.1);
}
