.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.App-header > h1 {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 73px;
  padding-left: 50px;
  margin-bottom: 10px;
}

.App-header > p {
  padding-left: 45px;
  font-family: "Cabin", sans-serif;
}

.RestartButton {
  padding: 15px 40px;
  font-size: 20px;
  background-color: #8d3293;
  color: white;
  border: 2px solid #8d3293;
  border-radius: 25px;
  outline: none;
  transition-duration: 0.4s;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.RestartButton:hover {
  color: #8d3293;
  background-color: white;
  cursor: pointer;
  border-color: #8d3293;
  border-spacing: 15px;
}

.RestartButton:active {
  top: 1px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 669px) {
  .App-header > h1 {
    font-size: 50px;
  }
}
