.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #d71e42;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 0;
  top: 0;
}

.container a {
  text-decoration: none;
  color: #fff;
}

.image-container {
  justify-self: start;
}

.logo {
  width: 75px;
}

/* .logo:hover {
  cursor: pointer;
} */

.title {
  font-size: 2em;
}

.routes a {
  padding-right: 30px;
}

.route-container {
  justify-self: end;
}
