.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d71e42;
}

.container a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 75px;
}

.title {
  font-size: 2em;
}

.routes a {
  padding-right: 30px;
}
