.game-menu {
  width: 100%;
  padding-top: 80px;
}

.game-title {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 73px;
  margin: 20px 0;
}

.card {
  background-color: #f39f56;
  border: 0.25rem solid #f9fad2;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  margin: 1.5rem auto;
  width: 80%;
}

.card__bg {
  border-radius: 10px;
  padding: 20px;
  background-color: #fdc16a;
}

@media only screen and (max-width: 535px) {
  .game-menu {
    max-width: 100%;
  }
  .game-title {
    font-size: 30px;
    margin: 10px 0;
  }
  .game-description {
    font-size: 15px;
  }

  .break-column {
    flex-basis: 100%;
    width: 0;
  }

  .card {
    background-color: transparent;
    border: none;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    margin: 1rem auto;
    width: 90%;
  }
}
