.cardstack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  background-color: #8d3293;
  border-radius: 5px;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.4);
  padding: 5%;
  margin: 5%;
}

.game-card:before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: middle;
}

.game-card:hover {
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  .cardstack {
    padding: 1%;
    margin: 1%;
  }
}
