.cardstack {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  background-color: #fdc16a;
  margin: 5%;
}

.game-card:before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: middle;
}

.game-card:hover {
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  .cardstack {
    padding: 1%;
    margin: 1%;
  }
}
